.about {
    background-color: $--color-primary;
    margin-top: 560px;
    position: relative;

    &-content {

        .title {
            text-align: center;
            margin: 1.563rem 0;
            font-size: 2rem;
            color: #fff;

            span {
                color: #fff;
            }

            b {
                color: $--color-fourth;
            }

            animation: about-title 1s linear forwards;

        }

        .accordion {
            width: 90%;
            max-width: 1000px;
            margin: 2rem auto;

            .accordion-item {
                background-color: rgb(29, 28, 28);
                margin: 1rem 0;
                border-radius: 16px;

                .accordion-item-header {
                    color: #fff;
                    padding: 0.5rem 3rem 0.5rem 1rem;
                    min-height: 3.5rem;
                    line-height: 1.25rem;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
                    font-size: 22px;

                    &::after {
                        content: "\002B";
                        font-size: 2rem;
                        position: absolute;
                        right: 1rem;
                        color: #fff;
                        transition: transform .5s ease-in-out;
                    }

                }

                .accordion-item-header.active::after {
                    // content: "\2212";
                    transform: rotate(45deg);
                }

                .accordion-item-body {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.5s ease-out;

                    &-content {
                        color: #fff;
                        text-indent: 2.813rem;
                        line-height: 1.5;
                        padding: 1rem;
                        border-top: 1px solid $--color-fourth;
                        border-image: linear-gradient(to right, $--color-fourth, $--color-sixth) 1;

                    }

                }

                .accordion-item-header.active + .accordion-item-body {
                    max-height: 250px;
                }

            }

        }

    }

}