.btn-animated {
    background-color: #fff;
    border-radius: 8px;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: none;
    cursor: pointer;

    span {
        color: #000;
        position: relative;
        z-index: 2;
    }

    &::before {
        content: '';
        position: absolute;
        width: 175px;
        height: 45px;
        top: -80px;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: $--color-fourth;
        transition: all .5s cubic-bezier(.3, 0, .3, 1);
        transform: translate3d(0,-100%,0) skew(-10deg,-10deg);
    }

    &:hover {
        &::before {
            transform: none;
            z-index: 1;
            top: 0;
        }
    }
}