.offers {
    background-color: $--color-primary;
    margin-top: 3.125rem;
    position: relative;

    .title {
        text-align: center;
        color: #fff;
        margin: 1.875rem 0;
    }

    &-content {

        .overlay{
            width: 510px;
            height: 410px;
            border-radius: 1rem;
            background-color: rgb(29, 28, 28);
            position: absolute;
            top: 200px;
            left: 140px;
            transform: rotate(5deg);
            
        }

        .tabs{

            .buttons {
                display: flex;
                justify-content: center;
    
                .tabs-btn {
                    margin-right: 0.5rem;
                }
    
                .tabs-btn.working{
                    background-color: $--color-fourth;
                }
    
            }
    
            .tabs-content {
                margin: 1.25rem;
                padding: 1.25rem;
    
                .tabs-item {
                    justify-content: center;
                    padding: 0.938rem;
                    position: relative;
                    display: none;
    
                    &.working{
                        display: flex;
                    }
    
                    .tabs-image {
                        width: 50%;
    
                        .tabs-photo {
                            border-radius: 1rem;
                        }
    
                    }
    
                    .info-text-box {
                        width: 50%;
    
                        h3 {
                            color: #fff;
                        }
    
                        p {
                            color: #fff;
                        }
    
                        .info-text-box-btn{
                            position: absolute;
                            top: 379px;
                            right: 460px;
                        }
    
                    }
    
                }

        }

        }

    }

}