.services{
    margin: 3.125rem 0;
    background-color: $--color-primary;

    animation: services-animation 1s linear forwards;

    .title{
        text-align: center;
        font-size: 2rem;
        color: #fff;
        margin-top: 1.875rem;

        span{
            color: $--color-fourth;
        }

    }

    .services-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .services-item{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            width: 33.33333%;
            margin-bottom: 2.188rem;

            .services-icon{
                color: #fff;
                font-size: 2.5rem;
            }

            .service-title{
                color: #fff;
                margin: 0.313rem 0;
                line-height: 1.2;
            }

            .service-description{
                color: #fff;
                font-size: 0.8rem;
                width: 265px;
                margin-bottom: 0.625rem;
            }

        }

    }

}