$--color-primary: #000000;
$--color-secondary: #3D0000;
$--color-third: #950101;
$--color-fourth: #FF0000;
$--color-fifth: #9B786F;
$--color-sixth:#f5ca0a;

:root{
    --grey:#f4f2ff;
    --dark-grey:#b7b7b7;

    --green:#23ae00;
    --light-green:#bdffac;

    --red:#fe2727;
    --light-red:#ffd2d2;

    --blue:#277ffe;
    --light-blue:#b6c6ff;
    --dark-blue:#1368e3;

    --bs:#aecfff;
    --text:#9b9b9b;
}
