@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Kaushan+Script&family=Poppins:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../Media/Other/body-bg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.container {
  margin: auto;
  padding: 15px;
  max-width: 1200px;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: white;
}

html::-webkit-scrollbar-thumb {
  background: black;
}

#scrollBtn {
  padding: 10px 15px;
  border-radius: 8px;
  color: #000000;
  background-color: #fff;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  top: 90%;
  right: 20px;
  position: fixed;
  border: none;
}
#scrollBtn:hover {
  background-color: #FF0000;
  color: #fff;
  transition: 0.5s;
}

#scrollBtn.remove {
  display: none;
}

.btn-animated {
  background-color: #fff;
  border-radius: 8px;
  padding: 8px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: none;
  cursor: pointer;
}
.btn-animated span {
  color: #000;
  position: relative;
  z-index: 2;
}
.btn-animated::before {
  content: "";
  position: absolute;
  width: 155px;
  height: 45px;
  top: -80px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #FF0000;
  transition: all 0.5s cubic-bezier(0.3, 0, 0.3, 1);
  transform: translate3d(0, -100%, 0) skew(-10deg, -10deg);
}
.btn-animated:hover::before {
  transform: none;
  z-index: 1;
  top: 0;
}

header {
  background-color: #000000;
}
header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-content .logo h3 {
  color: #FF0000;
}
header .header-content .logo span {
  color: #fff;
}
header .header-content .nav-bar-item {
  margin-right: 0.5rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
}
header .header-content .nav-bar-item:hover {
  border-bottom: 1px solid #FF0000;
  color: #FF0000;
  transition: 0.5s;
}

.intro-content .text-box {
  width: 50%;
}
.intro-content .text-box .title {
  color: #FF0000;
  font-size: 5rem;
  position: absolute;
  top: 110px;
  -webkit-animation: intro-title 1s linear forwards;
          animation: intro-title 1s linear forwards;
}
.intro-content .text-box .title span {
  color: #fff;
}
.intro-content .text-box .subtitle {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  top: 245px;
  -webkit-animation: intro-subtitle 1s linear forwards;
          animation: intro-subtitle 1s linear forwards;
}
.intro-content .text-box .intro-buttons {
  position: absolute;
  top: 400px;
  -webkit-animation: intro-buttons 1s linear forwards;
          animation: intro-buttons 1s linear forwards;
}
.intro-content .text-box .intro-buttons .show-more-btn {
  margin-right: 1rem;
}
.intro-content .text-box .info-box {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 500px;
  -webkit-animation: info-box 1s linear forwards;
          animation: info-box 1s linear forwards;
}
.intro-content .text-box .info-box .info-box-item {
  width: 100px;
}
.intro-content .text-box .info-box .info-box-item h3 {
  color: #fff;
  margin-right: 0.5rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.3;
}
.intro-content .image-box .intro-photo {
  width: 650px;
  height: auto;
  position: absolute;
  top: 250px;
  left: 45%;
  -webkit-animation: intro-photo 1s linear forwards;
          animation: intro-photo 1s linear forwards;
}

.about {
  background-color: #000000;
  margin-top: 560px;
  position: relative;
}
.about-content .title {
  text-align: center;
  margin: 25px 0;
  font-size: 2rem;
  color: #fff;
  -webkit-animation: about-title 1s linear forwards;
          animation: about-title 1s linear forwards;
}
.about-content .title span {
  color: #fff;
}
.about-content .title b {
  color: #FF0000;
}
.about-content .accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
.about-content .accordion .accordion-item {
  background-color: rgb(29, 28, 28);
  margin: 1rem 0;
  border-radius: 16px;
}
.about-content .accordion .accordion-item .accordion-item-header {
  color: #fff;
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 22px;
}
.about-content .accordion .accordion-item .accordion-item-header::after {
  content: "+";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  color: #fff;
  transition: transform 0.5s ease-in-out;
}
.about-content .accordion .accordion-item .accordion-item-header.active::after {
  transform: rotate(45deg);
}
.about-content .accordion .accordion-item .accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.about-content .accordion .accordion-item .accordion-item-body-content {
  color: #fff;
  text-indent: 45px;
  line-height: 1.5;
  padding: 1rem;
  border-top: 1px solid #FF0000;
  -o-border-image: linear-gradient(to right, #FF0000, #f5ca0a) 1;
     border-image: linear-gradient(to right, #FF0000, #f5ca0a) 1;
}
.about-content .accordion .accordion-item .accordion-item-header.active + .accordion-item-body {
  max-height: 250px;
}

.services {
  margin: 50px 0;
  background-color: #000000;
  -webkit-animation: services-animation 1s linear forwards;
          animation: services-animation 1s linear forwards;
}
.services .title {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  margin-top: 30px;
}
.services .title span {
  color: #FF0000;
}
.services .services-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services .services-content .services-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 33.33333%;
  margin-bottom: 35px;
}
.services .services-content .services-item .services-icon {
  color: #fff;
  font-size: 2.5rem;
}
.services .services-content .services-item .service-title {
  color: #fff;
  margin: 5px 0;
  line-height: 1.2;
}
.services .services-content .services-item .service-description {
  color: #fff;
  font-size: 0.8rem;
  width: 265px;
  margin-bottom: 10px;
}

.card-section {
  background-color: #000000;
  padding: 2rem 0;
}
.card-section .title {
  text-align: center;
  color: #fff;
}
.card-section .title span {
  color: #FF0000;
}
.card-section .cards-container {
  width: 100%;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-section .cards-container .card-item {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background-color: rgb(29, 28, 28);
  border-radius: 1rem;
  margin-bottom: 35px;
}
.card-section .cards-container .card-item .card-title {
  color: #fff;
}
.card-section .cards-container .card-item .card-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.card-section .cards-container .card-item .card-info i {
  margin-right: 0.3rem;
  color: #FF0000;
}
.card-section .cards-container .card-item .card-info span {
  color: #fff;
}
.card-section .cards-container .card-item .popup .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: none;
}
.card-section .cards-container .card-item .popup .popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 1050px;
  height: auto;
  z-index: 1050;
  padding: 20px;
  box-sizing: border-box;
  border: 1rem;
  border-radius: 1rem;
}
.card-section .cards-container .card-item .popup .popup-content .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  font-size: 25px;
  color: #000;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.card-section .cards-container .card-item .popup .popup-content .popup-title {
  padding-top: 15px;
  text-align: center;
}
.card-section .cards-container .card-item .popup .popup-content .contains {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 35px;
  margin: 30px 0;
}
.card-section .cards-container .card-item .popup .popup-content .contains .popup-img {
  display: flex;
  justify-content: center;
  width: 50%;
}
.card-section .cards-container .card-item .popup .popup-content .contains .popup-img .popup-photo {
  border-radius: 15px;
  margin-right: 20px;
}
.card-section .cards-container .card-item .popup .popup-content .contains .cars-info {
  width: 50%;
}
.card-section .cards-container .card-item .popup .popup-content .contains .cars-info .cars-info-item {
  display: flex;
  align-items: center;
}
.card-section .cards-container .card-item .popup .popup-content .contains .cars-info .cars-info-item i {
  margin-right: 0.3rem;
}
.card-section .cards-container .card-item .popup .popup-content .contains .order-btn {
  position: absolute;
  bottom: 20px;
  left: 475px;
  border: 1px solid #FF0000;
}
.card-section .cards-container .card-item .popup.active .overlay {
  display: block;
}
.card-section .cards-container .card-item .popup.active .popup-content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.partners {
  background-color: #000000;
  margin: 50px 0;
}
.partners .title {
  color: #fff;
  text-align: center;
}
.partners .title span {
  color: #FF0000;
}
.partners-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.partners-content .partners-item {
  margin: 30px 0;
}
.partners-content .partners-item .partner-photo {
  width: 200px;
  height: auto;
  cursor: pointer;
}
.partners-content .partners-item .partner-photo:hover {
  background-color: #FF0000;
  transform: translateY(-15px);
  transition: 0.5s;
}

footer {
  background-color: #000000;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
}
footer .footer-content .footer-box {
  padding: 1rem;
}
footer .footer-content .footer-box h1 {
  color: #FF0000;
}
footer .footer-content .footer-box h1 span {
  color: #fff;
}
footer .footer-content .footer-box .text {
  color: #fff;
  width: 80%;
}
footer .footer-content .footer-box .title {
  color: #fff;
}
footer .footer-content .footer-box .address {
  color: #fff;
  display: flex;
  align-items: center;
}
footer .footer-content .footer-box .address i {
  margin-right: 0.3rem;
  color: #FF0000;
}
footer .footer-content .footer-box p {
  color: #fff;
  font-style: italic;
}
footer .footer-content .footer-box .mail {
  color: #fff;
  display: flex;
  align-items: center;
}
footer .footer-content .footer-box .mail i {
  margin-right: 0.3rem;
  color: #FF0000;
}
footer .footer-content .footer-box .time {
  color: #fff;
  display: flex;
  align-items: center;
}
footer .footer-content .footer-box .time i {
  margin-right: 0.3rem;
  color: #FF0000;
}
footer .footer-content .footer-box .phone {
  color: #fff;
  display: flex;
  align-items: center;
}
footer .footer-content .footer-box .phone i {
  margin-right: 0.3rem;
  color: #FF0000;
}

.offers {
  background-color: #000000;
  margin-top: 50px;
  position: relative;
}
.offers .title {
  text-align: center;
  color: #fff;
  margin: 30px 0;
}
.offers-content .overlay {
  width: 510px;
  height: 410px;
  border-radius: 1rem;
  background-color: rgb(29, 28, 28);
  position: absolute;
  top: 200px;
  left: 140px;
  transform: rotate(5deg);
}
.offers-content .tabs .buttons {
  display: flex;
  justify-content: center;
}
.offers-content .tabs .buttons .tabs-btn {
  margin-right: 0.5rem;
}
.offers-content .tabs .buttons .tabs-btn.working {
  background-color: #FF0000;
}
.offers-content .tabs .tabs-content {
  margin: 20px;
  padding: 20px;
}
.offers-content .tabs .tabs-content .tabs-item {
  justify-content: center;
  padding: 15px;
  position: relative;
  display: none;
}
.offers-content .tabs .tabs-content .tabs-item.working {
  display: flex;
}
.offers-content .tabs .tabs-content .tabs-item .tabs-image {
  width: 50%;
}
.offers-content .tabs .tabs-content .tabs-item .tabs-image .tabs-photo {
  border-radius: 1rem;
}
.offers-content .tabs .tabs-content .tabs-item .info-text-box {
  width: 50%;
}
.offers-content .tabs .tabs-content .tabs-item .info-text-box h3 {
  color: #fff;
}
.offers-content .tabs .tabs-content .tabs-item .info-text-box p {
  color: #fff;
}
.offers-content .tabs .tabs-content .tabs-item .info-text-box .info-text-box-btn {
  position: absolute;
  top: 379px;
  right: 460px;
}

@-webkit-keyframes intro-title {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0);
  }
}

@keyframes intro-title {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0);
  }
}
@-webkit-keyframes intro-subtitle {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0);
    filter: blur(0);
  }
}
@keyframes intro-subtitle {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0);
    filter: blur(0);
  }
}
@-webkit-keyframes intro-buttons {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes intro-buttons {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes info-box {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes info-box {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes intro-photo {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes intro-photo {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes accordion {
  0% {
    transform: translateX(-800px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes accordion {
  0% {
    transform: translateX(-800px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes services-animation {}
@keyframes services-animation {}/*# sourceMappingURL=main.css.map */